<html>
    <head>
    </head>
    <body>
	{% extends "base.html" %}

	{% block content %}
   		<h1>Добавить конференцию</h1>
   		<form action="" method="post" novalidate>
         {{ form.hidden_tag() }}
         <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}
            {% for error in form.title.errors %}
           	 <span style="color: red;">Это поле необходимо заполнить</span>
            {% endfor %}
         </p>
         <p>
            {{ form.number.label }}<br>
            {{ form.number(size=32) }}
            {% for error in form.number.errors %}
           	 <span style="color: red;">Это поле необходимо заполнить</span>
            {% endfor %}
         </p>
         <p>
            {{ form.theme.label }}<br>
            {{ form.theme(size=32) }}
            {% for error in form.theme.errors %}
           	 <span style="color: red;">Это поле необходимо заполнить</span>
            {% endfor %}
         </p>
         <p>
            {{ form.date.label }}<br>
            {{ form.date(size=32) }}
            {% for error in form.date.errors %}
           	 <span style="color: red;">Это поле необходимо заполнить</span>
            {% endfor %}
         </p>
         <p>{{ form.submit() }}</p>
        </form>
		{% endblock %}
    </body>
</html>